p, h1{
  	color:white !important;
	font-family:cursive !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

p button {
  color: black;
}

p input {
  color: black;
  font-family: sans-serif;
  margin: 0.25rem;
}

#status, #blanks {
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#status {
  font-size: larger;
}

#blanks {
  font-size: xx-large;
  margin: 1rem 0;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Front_Street%2C_Ogallala%2C_Nebraska%2C_2007.jpg/1280px-Front_Street%2C_Ogallala%2C_Nebraska%2C_2007.jpg");
	background-repeat: no-repeat;
}